<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=yes">
    <meta name="description" content="Machine learning and Deep Learning models server in flask">
    <meta name="author" content="Tarun Bisht Pithoragarh and Nainital Uttarakhand">
    <title>Model Server</title>
  </head>
  <body>
    <h1>Serve Machine Learning Models</h1>
    <h4><a href="https://github.com/tarun-bisht/ml-model-server">Github</a></h4>
    <section>
        {% for link in links %}
            <center>
                <h3><a href="{{ link }}">{{ link }}</a></h3>
            </center>
        {% endfor %}
    </section>
  </body>
</html>
